In [1]:
1+1

2

4*5

In [2]:
4*5

20

In [3]:
print("Hello")

Hello

In [8]:
first_name = "Monicka"

In [9]:
last_name = "Akilan"

In [10]:
print(first_name +" " + last_name)

Monicka Akilan

In [11]:
arr=[]

In [12]:
type(arr)

list

In [13]:
list=["chemistry", "maths", 10, 5, 2.5]

In [15]:
print(list[0])

chemistry

In [17]:
list.append("english")

In [18]:
print(list[5])

english

In [19]:
len(list)

6

In [20]:
list.insert(1, "Tamil")

In [21]:
print(list)

['chemistry', 'Tamil', 'maths', 10, 5, 2.5, 'english']

In [22]:
list(:)

SyntaxError: invalid syntax (4255805550.py, line 1)

In [23]:
list[:]

['chemistry', 'Tamil', 'maths', 10, 5, 2.5, 'english']

In [24]:
list[1:6]

['Tamil', 'maths', 10, 5, 2.5]

In [25]:
list.append(["algebra", "geometry"])

In [26]:
print(list)

['chemistry', 'Tamil', 'maths', 10, 5, 2.5, 'english', ['algebra', 'geometry']]

In [27]:
list

['chemistry', 'Tamil', 'maths', 10, 5, 2.5, 'english', ['algebra', 'geometry']]

In [29]:
list[7]

['algebra', 'geometry']

In [30]:
list[7][0]

'algebra'

In [31]:
list.extend("matrix")

In [32]:
list

['chemistry',
 'Tamil',
 'maths',
 10,
 5,
 2.5,
 'english',
 ['algebra', 'geometry'],
 'm',
 'a',
 't',
 'r',
 'i',
 'x']

In [33]:
list.po(:8)

SyntaxError: invalid syntax (4261201219.py, line 1)

In [34]:
list.pop(0:8)

SyntaxError: invalid syntax (1560766298.py, line 1)

In [35]:
list.pop(8)

'm'

In [36]:
list.pop(8)

'a'

In [37]:
list

['chemistry',
 'Tamil',
 'maths',
 10,
 5,
 2.5,
 'english',
 ['algebra', 'geometry'],
 't',
 'r',
 'i',
 'x']

In [38]:
list.pop(8,2)

TypeError: pop expected at most 1 argument, got 2

In [39]:
list.remove(8)

ValueError: list.remove(x): x not in list

In [40]:
list.remove("t")

In [41]:
list

['chemistry',
 'Tamil',
 'maths',
 10,
 5,
 2.5,
 'english',
 ['algebra', 'geometry'],
 'r',
 'i',
 'x']

In [42]:
num1=[1,2,3]

In [43]:
num2=[4,5,6]

In [44]:
num1+num2

[1, 2, 3, 4, 5, 6]

In [45]:
num1*num2

TypeError: can't multiply sequence by non-int of type 'list'

In [46]:
num1*2

[1, 2, 3, 1, 2, 3]

In [47]:
num1*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
sum(num1)

6