## python_basics_sets_dict_tuples

## set

In [1]:
set_basic = set()

In [2]:
set_basic

set()

In [3]:
set_basic= {"one","two","three"}

In [4]:
set_basic

{'one', 'three', 'two'}

In [5]:
type(set_basic)

set

In [6]:
set_basic.insert("four")

AttributeError: 'set' object has no attribute 'insert'

In [7]:
set_basic.add("four")

In [8]:
set_basic

{'four', 'one', 'three', 'two'}

In [9]:
set_basic

{'four', 'one', 'three', 'two'}

In [10]:
set_basic[0]

TypeError: 'set' object is not subscriptable

In [11]:
set_basic["ome"]

TypeError: 'set' object is not subscriptable

In [12]:
set_basic["one"]

TypeError: 'set' object is not subscriptable

In [13]:
set_basic.add(0)

In [14]:
set_basic

{0, 'four', 'one', 'three', 'two'}

In [15]:
set_basic1 = set_basic.add("six","seven","eight")

TypeError: set.add() takes exactly one argument (3 given)

In [16]:
set_basic1 = set_basic.add(["six","seven","eight"])

TypeError: unhashable type: 'list'

In [17]:
set_basic1 = set_basic.add("six")

In [22]:
set_basic

{0, 'four', 'one', 'six', 'three', 'two'}

In [24]:
set_basic1 = {0, 'four', 'one', 'six', 'three', 'two', "eight"}

In [33]:
set_basic1.intersection(set_basic)

set()

In [25]:
set_basic1.difference(set_basic)

{'eight'}

In [26]:
set_basic1.difference_update(set_basic)

In [27]:
print(set_basic1)

{'eight'}

In [28]:
set_basic

{0, 'four', 'one', 'seven', 'six', 'three', 'two'}

In [29]:
set_basic1

{'eight'}

In [30]:
set_basic1.intersection(set_basic)

set()

In [31]:
set_basic1

{'eight'}

In [32]:
set_basic

{0, 'four', 'one', 'seven', 'six', 'three', 'two'}

### dictionary

In [18]:
dic = {}

In [19]:
dic={1,2,3,4,5}

In [20]:
9type(dic)

SyntaxError: invalid decimal literal (4031148791.py, line 1)

In [21]:
dic={"1":"one", "2":"two","3":"three"}

In [22]:
type(dic)

dict

In [23]:
for x in dic:
    print(x)

1
2
3

In [24]:
for x in dic.values():
    print(x)

one
two
three

In [25]:
dic("1")

TypeError: 'dict' object is not callable

In [26]:
dic["1"]

'one'

In [27]:
for x in dic.items():
    print(x)

('1', 'one')
('2', 'two')
('3', 'three')

In [28]:
dic[0]

KeyError: 0

In [29]:
dic["4"] = "four"

In [30]:
dic

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

In [31]:
dic["4"]

'four'

## Nested dictionary

In [36]:
car1 = {"Suzuki","1960"}

In [37]:
car2 = {"Maruti","1958"}

In [39]:
car3 = {"Suzuki","1960"}

carDict = {"car1":car1, "car2": car2, "car3": car3}

In [40]:
carDict

{'car1': {'1960', 'Suzuki'},
 'car2': {'1958', 'Maruti'},
 'car3': {'1960', 'Suzuki'}}

In [41]:
carDict["car4"] = {"Honda", "1990"}

In [42]:
carDict

{'car1': {'1960', 'Suzuki'},
 'car2': {'1958', 'Maruti'},
 'car3': {'1960', 'Suzuki'},
 'car4': {'1990', 'Honda'}}

In [43]:
carDict["car1"]

{'1960', 'Suzuki'}

In [44]:
carDict["car1"]["1958"]

TypeError: 'set' object is not subscriptable

In [45]:
carDict["car1"]["Honda"]

TypeError: 'set' object is not subscriptable

In [46]:
carDict["car1"]["Maruti"]

TypeError: 'set' object is not subscriptable

## TUPLE

In [47]:
my_tuple=tuple()

In [48]:
my_tuple=("moni","Akilan","rk")

In [49]:
my_tuple

('moni', 'Akilan', 'rk')

In [50]:
my_tuple[0]

'moni'

In [51]:
my_tuple.add("priya")

AttributeError: 'tuple' object has no attribute 'add'

In [52]:
my_tuple[1] = "World"

TypeError: 'tuple' object does not support item assignment

In [53]:
my_tuple.index("hello")

ValueError: tuple.index(x): x not in tuple

In [54]:
my_tuple.index("rk")

2